@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";





@layer base {
  body {
    font-family: "Outfit", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Prata", serif;
  }
}


/* For modern browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: black; /* pink-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #db2777; /* pink-600 */
  border-radius: 4px;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #db2777 #fce7f3;
}
